---
import Layout from "../layouts/Layout.astro";
import HomeBanner from "../components/organisms/HomeBanner.astro";
import FraseCard from "../components/molecules/FraseCard.astro";
import HomeMiddle from "../components/organisms/HomeMiddle.astro";
import HomeQueremos from "../components/organisms/HomeQueremos.astro";
import BannerCard from "../components/molecules/BannerCard.astro";
import BannerTitle from "../components/molecules/BannerTitle.astro";
import Container from "../components/globals/Container.astro";
import Portada from "../components/molecules/Portada.astro";
import SectionMiddle from "../components/molecules/SectionMiddle.astro";
import SectionVideo from "../components/molecules/SectionVideo.astro";
---

<Layout title="Es momento de involucranos">
  <Portada
    urlPortada="https://global.unitednations.entermediadb.net/assets/mediadb/services/module/asset/downloads/preset/Collections/Embargoed/22-01-2021_UNCDF_01.jpg/image1170x530cropped.jpg"
    titlePortada="Nuestro Ideario"
    subtitlePortada="Partido de transformación nacional"
  />
  <Container class:list={"ideario-ctn"}>
    <section class="ideario-title">
      Nuestros pilares: EL BIEN, LA VERDAD, LA JUSTICIA Y LA DIGNIDAD <span
        class="font-bold"
        >POR UNA NACIÓN LIBRE, INDEPENDIENTE, SOBERANA, NO SUJETA AL GLOBALISMO,
        NI A NINGÚN PAÍS O INSTITUCIÓN QUE LIMITE NUESTRA AUTONOMÍA</span
      >
    </section>
    <section class="ideario-text">
      <p>
        <h1 class="ideario-text-h1">EL PARTIDO DE TRANSFORMACIÓN NACIONAL</h1>
         presenta este Ideario en armonía con los peruanos de bien que se unen
        en la necesidad de fundar un Partido Político para defender La vida, La
        libertad, La Propiedad Privada y El Bien Común, que permita que nuestra
        patria pueda alcanzar su desarrollo con justicia social y valores
        morales que son la base de una verdadera democracia. El ideal de nuestra
        nación, es la imagen misma de la sociedad y por tanto sus miembros deben
        ser capaces de forjar una identidad social de unidad de todos los
        peruanos, donde no existan divisiones de razas, credos, posición
        económica, y origen geográfico. Esta identidad es el resultado de lo que
        somos los individuos en sí mismos y en sus relaciones en el seno social.
        No es posible formar un ideal de nación superior, si los individuos
        mantienen una identidad sometida a patrones de inferioridad y de
        desvalor moral, por lo tanto es necesario formar una identidad social
        superior que pase por la reconversión moral y espiritual de los
        individuos, para lograr el cambio de la conducta social de nuestra
        nación proponemos que nuestra sociedad se funde en el reconocimiento y
        práctica de la unidad de todos los peruanos en base a los principios del
        bien, la verdad, la justicia y la dignidad, los valores patrios e
        identidad nacional y la revalorización de nuestra GRAN CULTURA
        TAHUANTINSUYANA, que fue un imperio que nos dejó un valioso legado
        cultural, social, tecnológico, económico e histórico, de la cual debemos
        tener orgullo y reconocimiento, para ser una sociedad con una identidad
        ejemplar en el seno de la comunidad internacional.
      </p>
      <p>
        No es posible formar un ideal de nación superior, si los individuos
        mantienen una identidad sometida a patrones de inferioridad y de
        desvalor moral, por lo tanto es necesario formar una identidad social
        superior que pase por la reconversión moral y espiritual de los
        individuos, para lograr el cambio de la conducta social de nuestra
        nación proponemos que nuestra sociedad se funde en el reconocimiento y
        práctica de la unidad de todos los peruanos en base a los principios del
        bien, la verdad, la justicia y la dignidad, los valores patrios e
        identidad nacional y la revalorización de nuestra GRAN CULTURA
        TAHUANTINSUYANA, que fue un imperio que nos dejó un valioso legado
        cultural, social, tecnológico, económico e histórico, de la cual debemos
        tener orgullo y reconocimiento, para ser una sociedad con una identidad
        ejemplar en el seno de la comunidad internacional.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">NUESTRA IDENTIDAD POLÍTICA</h1>
      <p>
        Proyectamos ser una organización política cuya tarea fundamental es
        formar un partido político programático, comprometido con el bienestar
        común y no con los intereses propios de cada representante, lo cual, se
        convierte en un reto que debe ser asumido por la propia población y sus
        líderes genuinos que hayan o no participado en política. Esta tarea
        resulta compleja si es que no hay un mínimo de convicción en los líderes
        capaces de organizar y llevar hacia adelante una propuesta política
        diferente, en modo tal que el reto central sea de la formación de
        partidos políticos auténticos, cifrados en su capacidad para convocar al
        verdadero liderazgo del país. Somos por tanto, la respuesta a la
        frustración que ha producido en los últimos años el quehacer de la clase
        política por efectos de la defraudación continua que se expresa en cada
        elección general, pues da lo mismo elegir a unos como a otros, la
        percepción que se tiene es que no existen alternativas, pues se
        privilegia a los liderazgos políticos tradicionales. Esta tarea resulta
        compleja si es que no hay un mínimo de convicción en los líderes capaces
        de organizar y llevar adelante una propuesta política diferente, en modo
        tal que el reto central de la formación de partidos políticos auténticos
        se apoye en la capacidad para convocar al verdadero liderazgo del país.
        No estamos hablando de un partido de amigos que simpatizan con sus
        propias ideas, sino de una organización política capaz de generar una
        participación masiva de la población y sus líderes.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">INSTRUMENTO DE PARTICIPACIÓN POLÍTICA</h1>
      <p>
        En consecuencia nuestro PARTIDO DE TRANSFORMACIÓN NACIONAL busca
        convertirse en ese instrumento de participación política de quienes
        nunca pudieron participar de una opción similar, porque consideraban que
        los espacios políticos existentes en los partidos tradicionales no les
        permitían el acceso, dado que sus líderes enquistados en el poder
        partidario eran inamovibles, siendo inaccesibles para el ciudadano común
        acceder al liderazgo a través de esos partidos
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">PROTAGONISTAS DEL CAMBIO</h1>
      <p>
        Nuestra propuesta es ser protagonistas del cambio convocando a los
        ciudadanos de todas las razas, de todos los sectores sociales y de todas
        las creencias, con el único requisito de que sean capaces de creer en un
        cambio de la realidad del país, lo cual es posible con el esfuerzo
        conjunto de todos los peruanos unidos en marco de un gran Proyecto
        Nacional de Desarrollo Social, que genere un espacio de realización
        personal y colectivo, donde todos puedan ser agentes de cambio y de
        transformación del país. Sí creemos que esta unidad es posible a través
        de una comunión de ideas basadas en principios superiores como El Bien,
        La Verdad, La Justicia y La Dignidad, presupuestos para la vida del
        hombre en sociedad. Por ende el partido TRANSFORMACIÓN NACIONAL es la
        organización política llamada a llenar el vacío existente en la
        actuación política del país, constituyéndose en un motor de cambio de la
        Conciencia Moral de la Nación.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">IDOS CON FUERZA ESPIRITUAL Y MORAL</h1>
      <p>
        Todas las personas que integramos el Partido de TRANSFORMACIÓN NACIONAL,
        sin distinción de credo religioso, estamos unidos por una misma fe en
        Dios, de cuyos principios emanan las líneas ideológicas de este partido.
        Creemos que esta unidad es la garantía de contar con la fuerza
        espiritual y moral para llevar adelante la transformación del país.
        Reconocemos que somos personas capaces de fomentar un gran movimiento de
        cambio sólo porque nuestra fe nos alienta a confiar en que la gran
        fuerza que mueve el universo y que es capaz de transformar las naciones
        en las condiciones más adversas, siendo posible esta gran transformación
        del Perú. Las posibilidades de coronar nuestras convicciones dependerán
        exclusivamente de la medida que seamos capaces de asumir el reto movido
        por la más absoluta confianza, respecto a que si hacemos lo correcto a
        favor de todos los peruanos sin distinción alguna, no habrá manera de
        fracasar sino de llevar al Perú a la realización de sus sueños. El Perú
        está esperando por peruanos comprometidos con La Verdad, con El Bien,
        con La Justicia y La Dignidad de todos,TRANSFORMACIÓN NACIONAL es la
        organización política llamada a congregarlos para llevar al Perú a su
        mejor destino.
      </p>
    </section>

    <section class="ideario-text">
      <h1 class="ideario-text-h1">RECONVERSIÓN MORAL CONTRA LA CORRUPCIÓN</h1>
      <p>
        Nos proponemos cambiar la imagen de una Nación destruida por la
        actuación delictiva (CORRUPCIÓN), nuestro gobierno con la población
        iniciaremos un proceso de reconversión moral de toda la sociedad, la
        imagen de nuestra nación cambiará en poco tiempo, el cambio será notorio
        para nuestro pueblo y a nivel internacional, nuestras autoridades serán
        personas íntegras, que se ganarán el respeto por sus obras y rápidamente
        se transformara en una imagen positiva de un país digno y justo, que
        asume el deber de remontar sus crisis y establecerse sobre nuevas
        condiciones de nuestra realidad social.
      </p>
      <p>
        El comienzo de un proceso de reconversión moral de una Nación, parte de
        la decisión de su liderazgo político de encaminar su actuación
        individual y de los pueblos hacia el respeto de estos Principios
        superiores y de lograr que los ciudadanos asuman su defensa y práctica
        como parte esencial de su realización personal.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">CRITEROS EMANAN RESPONSABILIDADES</h1>
      <p>
        Iniciar este proceso demanda además criterios claros respecto a las
        responsabilidades que le asisten a todos los miembros de la sociedad. No
        hay posibilidad de promover el desarrollo de los pueblos que creen que
        la responsabilidad de éste descansa exclusivamente en los líderes
        políticos y que los ciudadanos deben esperar a la solución de sus
        problemas, mientras ejercitan la protesta popular irreflexiva, sin
        llegar nunca asumir su propia responsabilidad. Los pueblos que se han
        desarrollado significativamente, lo han hecho a partir de la actuación
        conjunta de sus líderes y el esfuerzo individual. Y esta es la única
        manera en que las naciones pueden salir del sub-desarrollo y encaminarse
        al logro de su desarrollo social.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">VISIÓN A LARGO PLAZO</h1>
      <p>
        La carencia de una visión a largo plazo de los líderes políticos ha
        hecho que por generaciones se administre el Estado del Perú con planes a
        muy corto plazo. Esto ha impedido nuestro desarrollo en su verdadera
        dimensión, por cuanto los planes de corto plazo no alcanzan a contener
        políticas de desarrollo integrales, de los diferentes grupos sociales, y
        terminan siendo proyectos de aplicación inmediata con resultados
        limitados que permitan el desarrollo nacional de una manera sostenida.
        Una visión de proyección clara del desarrollo de nuestra patria, demanda
        comprender planes de por lo menos 50 años y exigen un planeamiento
        articulado con metas y objetivos dirigidos al propósito del desarrollo
        nacional.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">REFORMA EDUCATIVA</h1>
      <p>
        La educación en el Perú ha sido utilizada por los gobiernos para montar
        campañas electorales y sin embargo en la práctica no ha contado con una
        atención responsable, los indicadores internacionales han reportado que
        la educación peruana tiene serias deficiencias en promedio, y que
        debiera constituir una prioridad para el desarrollo su fortalecimiento,
        pero aun así no se ha logrado siquiera enfrentar los problemas
        estructurales, organizativos del sistema educativo nacional y mucho
        menos los que tienen que ver con la calidad de la enseñanza. Iniciaremos
        una reforma profunda de la educación en nuestro país que requerirá mucho
        más que inversión económica para fortalecer la infraestructura
        educativa, sino que se debe reorganizar el aparato administrativo a
        nivel nacional, reformular el contenido de la educación de acuerdo a los
        requerimientos regionales incluyendo la formación de la identidad
        nacional de los educandos, el conocimiento y amor a nuestra patria, sus
        símbolos, su historia, rescatando lo valioso de nuestra cultura
        Tawantinsuyana.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">MÉTODOS MODERNOS DE ENSEÑANZA</h1>
      <p>
        Los métodos modernos de enseñanza de los países más desarrollados, la
        implementación de tecnología de punta e imprimir el compromiso del
        cuerpo docente a fin que sea capaz de conducir un programa de formación
        de sólidos valores morales en todo el contenido educativo, y de esta
        manera se constituya la acción educativa en un instrumento fundamental
        de la transformación social de nuestra patria.
      </p>
      <p>
        El objetivo en los próximos años de esta profunda reforma educativa, es
        ubicarnos como un país que ocupe el primer nivel en Latinoamérica. Es
        una prioridad formar maestros con criterios de excelencia, comprometidos
        con el bien, la verdad, la justicia y la dignidad para así concretar una
        reforma profunda de la educación. La educación oficial será gratuita en
        todos los niveles, y debe permitir el acceso de todos los sectores
        sociales sin discriminación.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">SALUD PÚBLICA GRATUITA</h1>
      <p>
        La salud pública es un derecho fundamental y por tanto debe prestarse su
        servicio de modo gratuito, facilitando la atención de las personas de
        menores recursos y promoviendo que las personas que pueden contribuir a
        su sostenimiento por medio de la seguridad social aporten a ella,
        creando un sistema de solidaridad circular en que los que aportan
        facilitan la atención de los que no pueden aportar, y cuando estos
        ingresan al mercado productivo pueden iniciar su contribución al sistema
        de salud pública. De esta manera se mantiene un círculo de contribución
        y solidaridad que harían posible la atención gratuita de niños, ancianos
        y personas imposibilitadas de trabajar. La cadena de solidaridad es
        importante no sólo en la salud pública sino en la prestación de todos
        los servicios esenciales para la vida y el desarrollo individual.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">SERVICIOS PÚBLICOS GENUINOS</h1>
      <p>
        Un Estado benefactor no siempre es un buen Estado, pero un buen Estado
        es siempre benefactor de todos sus ciudadanos, y esto demanda integridad
        en el servicio público, especialmente cuando se decide políticas
        encaminadas a aprobar o desaprobar los esfuerzos de algunos sectores de
        la actividad privada que prestan servicios públicos y muchas veces no lo
        hacen con criterio de servicio sino sólo como medio de lucro, lo cual
        desdibuja el propósito de estos servicios y traiciona la necesidad
        popular. Es preciso por tanto agudeza y firmeza en el gobierno para
        impedir la proliferación de empresas que no presten servicios públicos
        genuinos y de calidad a la población.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">LA ECONOMÍA EN EL CAMBIO</h1>
      <p>
        El crecimiento progresivo de la economía depende de un factor
        importante, de la capacidad de sus gobiernos para gobernar en Democracia
        de verdad, ésta no sólo requiere la vivencia de la separación de los
        Poderes del Estado: Ejecutivo, Legislativo y Judicial, sino que sean
        capaces de respetar y hacer respetar los Principios del Bien, de la
        Verdad, de la Justicia y la Dignidad en todas las actividades públicas y
        privadas.
      </p>
      <p>
        El tiempo de hacer cosas inorgánicamente ha concluido con la necesidad
        de definir objetivos y metas de desarrollo social compatibles con la
        realidad diversa de los pueblos del Perú. Planes de desarrollo que sólo
        miran las actividades productivas mayormente incidentes en el Producto
        Bruto Interno son planes llamados a fracasar, por cuanto no cuenta con
        el efecto regresivo de las políticas sesgadas, las que tienden a operar
        como un boomerang, cayendo en situaciones de conflicto y caos social.
      </p>
      <p>
        Los planes de desarrollo tienen el reto de integrar económicamente el
        país, de tal manera que las economías de los pueblos más pobres sean
        promovidas por las de los pueblos más prósperos, sin que ello implique
        carga social, sino un mecanismo de redistribución de la riqueza, en modo
        que todos salgan beneficiados con riesgo cero de conflicto social.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">PARTICIPACIÓN CIUDADANA</h1>
      <p>
        La participación ciudadana por ello, es una condición esencial para que
        los países generen planes realizables de desarrollo, puesto que sin que
        la sociedad asuma su responsabilidad social es inviable el desarrollo
        nacional.
      </p>
      <p>
        Cambiar los destinos de una economía en crisis endémica precisa
        identificar las causas de la crisis, resolver los problemas que inciden
        en ellas y cambiar de rumbo en las políticas, sin embargo esta no es
        tarea fácil cuando los actores económicos se empeñan en encubrir las
        causas de la crisis y mucho peor cuando el sostenimiento de estos grupos
        depende exclusivamente de mantener las causas de la crisis.
      </p>
      <p>
        Por tanto asumir el reto de resolver esta compleja relación grupos de
        poder y crisis económica demanda que los gobiernos sean capaces de
        sostener su autoridad sobre el respaldo popular y que el pueblo esté en
        condiciones de asumir por su lado la aplicación de medidas que les
        permita como sociedad remontar las causas y problemas inherentes a la
        crisis económica y social.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">RESPONSABILIDAD DE LIDERAZGO</h1>
      <p>
        Los gobiernos tienen en ello la responsabilidad del liderazgo, de
        conducir a sus pueblos a que asuman su propia responsabilidad en el
        cambio de los destinos económicos de la nación. En el Perú existe un
        Estado sobredimensionado, excesivamente costoso y contrariamente
        ineficiente, cuyos servicios esenciales a su vez son muy caros para la
        población promedio y en esa situación hablar de reformas técnicas puede
        concluir en una serie de medidas no necesariamente capaces de resolver
        los problemas de fondo de la problemática estatal. El Estado peruano
        precisa una reducción importante de instituciones cuyas funciones se
        repiten, y de otras cuya burocracia simplemente creció sin responder a
        metas claras, sobreabundando el personal, en tanto en otras
        instituciones existe carencia de personal tecnificado y el que existe
        está deficientemente remunerado, la moral institucional es pobre en
        promedio y por consecuencia el servicio es de baja calidad.
      </p><p>
        El Estado peruano precisa una reducción importante de instituciones
        cuyas funciones se repiten, y de otras cuya burocracia simplemente
        creció sin responder a metas claras, sobreabundando el personal, en
        tanto en otras instituciones existe carencia de personal tecnificado y
        el que existe está deficientemente remunerado, la moral institucional es
        pobre en promedio y por consecuencia el servicio es de baja calidad.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">REFORMA DEL ESTADO</h1>
      <p>
        Asistir a un proceso de reforma del Estado, requiere en principio una
        definición de la capacidad de atención del aparato estatal, de las
        funciones que debe tener el Estado en su servicio social, y de las
        funciones que no debe tener bajo su competencia, reduciendo la
        organización a los niveles y alcances indispensables como para promover
        eficiencia y efectividad.
      </p><p>
        Evaluar al personal de la administración para retener sólo a aquellos
        que tengan la más alta preparación técnica para el cargo respectivo y
        racionalizar la planilla remunerativa en todo el aparato estatal con
        criterios de justicia y equidad.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">MERITOCRACIA PÚBLICA</h1>
      <p>
        Una carrera pública administrativa debe ser la base de la incorporación
        de técnicos a la administración y el cuidadoso ascenso por méritos en el
        servicio debe ser una garantía de promoción y estabilidad. La formación,
        capacitación y perfeccionamiento de los funcionarios públicos debe ser
        permanente asegurando su excelencia técnica en el servicio.
      </p><p>
        El deterioro de la políticas públicas que tratan de mantener canalizada
        la protesta social por medios represivos demuestra que los gobiernos que
        han apelado a ellas, se han deslegitimado y no han podido gobernar. La
        protesta social es un derecho, pero la protesta que conlleva violencia
        conduce al caos y a la ingobernabilidad, todo acto de violencia debe ser
        eliminado de la práctica social y crearse mecanismos democráticos para
        canalizar la propuesta y demandas de la sociedad.
      </p>
    </section>
    <section class="ideario-text">
      <h1 class="ideario-text-h1">PLANES DE DESARROLLO INTEGRALES</h1>
      <p>
        La importancia de concebir planes de desarrollo integrales que
        comprendan a todos los pueblos del Perú es de tal magnitud, que su
        impacto se dirige a resolver los problemas medulares que han impedido en
        las últimas décadas el desarrollo del país.
      </p>
      <p>
        Estos problemas están en la base de la sociedad y constituyen obstáculos
        permanentes que sólo pueden ser removidos por el inicio de acciones de
        desarrollo que alcancen a todos los sectores sociales. Uno de estos
        problemas, es la poca capacidad de los ciudadanos en condiciones de
        pobreza para asumir acciones de desarrollo individual, y mucho mayor es
        su limitación para visualizar acciones de desarrollo social.
      </p>
      <p>
        Otro de los problemas es la incapacidad de los gobiernos para
        identificar prioridades en el desarrollo de los pueblos cuando estos
        tienen diferentes grados de desarrollo y les es imposible definir
        políticas claras en materia económica que posibilite la aplicación de
        programas de desarrollo en todos los lugares del país.
      </p><p>
        Todos estos problemas se remontan cuando se aplican proyectos de
        desarrollo concientizando a los ciudadanos de su responsabilidad de
        participar en ellos de modo protagónico. No existe otro mecanismo que
        permita resolver estos problemas subyacentes en las sociedades con
        poblaciones extensas en pobreza. La participación ciudadana por ello, es
        una condición esencial para que los países generen planes realizables de
        desarrollo, puesto que sin que la sociedad asuma su responsabilidad
        social es inviable el desarrollo nacional.
      </p><p>
        El deterioro de la políticas públicas que tratan de mantener canalizada
        la protesta social por medios represivos demuestra que los gobiernos que
        han apelado a ellas, se han deslegitimado y no han podido gobernar. La
        protesta social es un derecho, pero la protesta que conlleva violencia
        conduce al caos y a la ingobernabilidad, todo acto de violencia debe ser
        eliminado de la práctica social y crearse mecanismos democráticos para
        canalizar la propuesta y demandas de la sociedad.
      </p>
    </section>

    <a
      href="/document/ideario.pdf"
      target="_blank"
      class="px-10 py-4 bg-primary flex mx-auto w-fit text-white rounded-lg"
      >Leer más</a
    >
  </Container>

  <style is:global>
    @import "../styles/globals.css";
    @import "../styles/scale.css";

    .ideario-ctn {
      @apply py-10;
    }

    .ideario-title {
      @apply mb-10;
      font-size: calc(3.7rem * var(--scale));
    }

    p {
      @apply pb-5;
    }
    .ideario-text {
      font-size: calc(2.1rem * var(--scale));
    }
    .ideario-text-h1 {
      @apply font-bold pb-5;
    }
  </style>
</Layout>
