---
---

<div class="BannerTitle">
    <h2>Nuevos rostros. Nuevas ideas. Nueva Política.</h2>

    <h1>Dile Adiós <br> al Floro</h1>
</div>

<style>
    .BannerTitle{
        @apply text-white;
        padding-top: calc(3rem * var(--scale));
        padding-left: calc(3rem * var(--scale));
    }
    h2{
            @apply font-[700];
           font-size: calc(4rem * var(--scale));
        }
        h1{
            @apply font-[700] leading-[100%];
            font-size: calc(8rem * var(--scale));
        }
</style>
