---

---

<div class="BannerCard">
    <h3>COLABORA CON NOSOTROS</h3>
    <p> <strong> No le debemos ni le deberemos nada a nadie.</strong> Ayúdanos a
    construir una manera distinta de financiar los nuevos partidos políticos.
     Juntos lo podremos lograr.</p>
</div>


<style>
    @import "./styles/BannerCard.css";
</style>
