

<div class="FraseCard">
    <h2> ¨Llegó el momento de construir juntos el Perú que merecemos¨ <h2>
</div>

<style>

    .FraseCard{
        @apply mx-auto bg-[red] text-white leading-[100%] text-center font-[300];
        padding: calc(5rem * var(--scale)) calc(4rem * var(--scale));
        margin-top: calc(22rem * var(--scale));
        width:calc(80rem * var(--scale));
        font-size: calc(3.5rem * var(--scale));
    }

</style>