---
import Container from "../globals/Container.astro";
import BannerCard from "./BannerCard.astro";
import BannerTitle from "./BannerTitle.astro";
import SectionVideo from "./SectionVideo.astro";

interface Props {
  urlPortada?: string;
  titlePortada?: string;
  subtitlePortada?: string;
}

const { urlPortada, titlePortada, subtitlePortada } = Astro.props;
---

<div
  style={{
    backgroundImage: `url(${urlPortada})`,
  }}
>
  <Container
    class:list={"flex md:items-center h-full md:flex-row flex-col gap-20"}
  >
    <BannerTitle
      title={titlePortada}
      subtitle={subtitlePortada}
      class={"title"}
    />
    <BannerCard class:list={"z-[20]"} />
  </Container>
</div>

<style>
  div {
    @apply h-[100vh] w-full flex flex-col relative z-10 bg-cover bg-black;
  }

  @screen laptop {
    div {
      @apply h-[100vh] w-full relative z-10;
    }
  }
</style>
