---

import '@fontsource-variable/rubik';
//interface Props {menu: string;}

//const {menu} = Astro.props;
---

<nav class="Navbar">
    <div class="logo">
        <img class="image" src="https://adelanteperu.com/wp-content/uploads/2023/07/logo-adp.svg" alt="">
    </div>
    <ul class="menu">
        <li>HOME</li>
        <li>ACERCA DE JULIO TOVAR</li>
        <li>EQUIPO</li>
        <li>IDEOLOGÍA</li>
        <li>NUESTRAS IDEAS</li>
        <li>SÚMATE</li>
        <li>CONTÁCTANOS</li>
    </ul>
</nav>
<style>
	.Navbar {
		list-style: none;
		padding: 1px;
        display: flex;
        font-size: 12px;
        
        justify-content: center;
    }
    .menu{
        display: flex;
        flex-direction: row;
        list-style: none;
        color: white;
        font-weight: 500;
        height: fit-content;
       min-width: 48rem;
        padding: 15px 25px;
        background-color: #222222;
        gap: 40px;
        font-family: 'Rubik Variable', sans-serif;

    }
    .logo{
        width: 180px;
        height: 180px;
        margin-right: 100px;
    }
	.image{
        width: 100%;
        height: 100%;
    }
</style>
