---
const { class: className } = Astro.props;
---

<!-- <div class:list={[ 'hello goodbye', { world: true }, [ 'friend' ] ]}> -->
<div class:list={[className]}>
  <slot />
</div>

<style>
  div {
    @apply w-[94%] mx-auto;
  }
  @screen laptop {
    div {
      @apply w-[60%] mx-auto;
    }
  }
</style>
