

<div class="HomeMidle">
    <div>
        <h2>
            SE HABLA MUCHO PERO SE HACE MUY POCO
        </h2>
        <p>
            Somos peruanos de diferentes provincias de nuestro Perú que como a ti 
            la política actual nos tiene cansados. Únete
             a nosotros para dar <strong>Soluciones con Valores</strong> a las principales
              necesidades de millones de peruanos.
        </p>
    
    </div>
    <div>
        <p>Más peruanos se siguen sumando</p>

    </div>
</div>

<style>
    .HomeMidle{
        
        h2{
            @apply bg-red-500;
        }
    }
</style>