---
import Container from "../globals/Container.astro";

---

<div class="HomeMiddle">
    <div class="text-black h-[50rem] bg-blue-500">
        <h2 >
            SE HABLA MUCHO PERO SE HACE MUY POCO
        </h2>
        <p>
            Somos peruanos de diferentes provincias de nuestro Perú que como a ti 
            la política actual nos tiene cansados. Únete
             a nosotros para dar <strong>Soluciones con Valores</strong> a las principales
              necesidades de millones de peruanos.
        </p>
    
    </div>
    <div class="text-black h-[50rem] bg-blue-500">
        <p>Más peruanos se siguen sumando</p>

    </div>
</div>

<style>
    .HomeMiddle{
     @apply text-black;
    }
</style>